<%
  var missing = false;
  if(typeof person === 'undefined'){
    person = {
      display: {}
    };
    missing = true;
  }
%>
<div class="person <%= missing ? 'missing' : '' %>" data-pid="<%= person.id %>">
  <img class="portrait" <%- person.display.portrait ? `src="${person.display.portrait}"` : '' %>></img>
  <div class="person-name"><%= person.display.name %></div>
  <div class="person-lifespan"><%= person.display.lifespan %></div>
  <div class="person-id"><%= person.id %></div>
</div>