<%- include('partials/header') %>
<div class="container">
  
  <div class="row ancestor-row grandparents">
    <div class="col-sm-3 ancestor-col father"><%- include('partials/person', {person: ancestry['4'] }) %></div>
    <div class="col-sm-3 ancestor-col mother"><%- include('partials/person', {person: ancestry['5'] }) %></div>
    <div class="col-sm-3 ancestor-col father"><%- include('partials/person', {person: ancestry['6'] }) %></div>
    <div class="col-sm-3 ancestor-col mother"><%- include('partials/person', {person: ancestry['7'] }) %></div>
  </div>
  
  <div class="row ancestor-row parents">
    <div class="col-sm-6 ancestor-col father"><%- include('partials/person', {person: ancestry['2'] }) %></div>
    <div class="col-sm-6 ancestor-col mother"><%- include('partials/person', {person: ancestry['3'] }) %></div>
  </div>
  
  <div class="row ancestor-row">
    <div class="col-sm-12 ancestor-col"><%- include('partials/person', {person: ancestry['1'] }) %></div>
  </div>
  
  <h3>Children</h3>
  <div class="children">
    <% for(var i = 0; i < children.length; i++) { %>
      <%- include('partials/person', {person: children[i] }) %>
    <% } %>
  </div>
  
</div>

<script>
  // Instead of making the person squares clickable by wrapping them in <a> tags
  // and committing a great sin of rendering block content in an inline element,
  // we just listen for the click event on them and manually perform the
  // navigation.
  Array.from(document.querySelectorAll('.person:not(.missing)')).forEach(function($person){
    $person.addEventListener('click', function(){
      window.location.href = '/pedigree/' + $person.dataset.pid;
    });
  });
</script>
  
<%- include('partials/footer') %>